 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [2]:
# Reading whale returns
whale_path = r'Resources/whale_returns.csv'
whale_returns = pd.read_csv(whale_path,parse_dates=True,infer_datetime_format=True)
whale_returns.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [3]:
# Count nulls
whale_returns.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [4]:
# Drop nulls
whale_returns = whale_returns.dropna()
whale_returns.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [43]:
# Reading algorithmic returns
algo_path = r'Resources/algo_returns.csv'
algo_returns = pd.read_csv(algo_path,parse_dates=True,infer_datetime_format=True)
algo_returns.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [44]:
# Count nulls
algo_returns.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [45]:
# Drop nulls
algo_returns = algo_returns.dropna()
algo_returns.isnull().sum()

Date      0
Algo 1    0
Algo 2    0
dtype: int64

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [46]:
# Reading S&P 500 Closing Prices
sp500_path = r'Resources/sp500_history.csv'
sp500_closing_price = pd.read_csv(sp500_path,infer_datetime_format=True,parse_dates=True)
sp500_closing_price.head()

        Date     Close
0  23-Apr-19  $2933.68
1  22-Apr-19  $2907.97
2  18-Apr-19  $2905.03
3  17-Apr-19  $2900.45
4  16-Apr-19  $2907.06

In [47]:
# Check Data Types
sp500_closing_price.dtypes

Date     object
Close    object
dtype: object

In [48]:
# Fix Data Types
sp500_closing_price['Close'] = sp500_closing_price['Close'].str.replace('$','')
sp500_closing_price['Close'] = sp500_closing_price['Close'].astype('float')
sp500_closing_price.dtypes

<ipython-input-48-dda3bd5ffba2>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp500_closing_price['Close'] = sp500_closing_price['Close'].str.replace('$','')

Date      object
Close    float64
dtype: object

In [49]:
# Calculate Daily Returns
sp500_closing_price['daily_return'] = sp500_closing_price['Close'].pct_change()
sp500_closing_price

           Date    Close  daily_return
0     23-Apr-19  2933.68           NaN
1     22-Apr-19  2907.97     -0.008764
2     18-Apr-19  2905.03     -0.001011
3     17-Apr-19  2900.45     -0.001577
4     16-Apr-19  2907.06      0.002279
...         ...      ...           ...
1644   5-Oct-12  1460.93      0.003469
1645   4-Oct-12  1461.40      0.000322
1646   3-Oct-12  1450.99     -0.007123
1647   2-Oct-12  1445.75     -0.003611
1648   1-Oct-12  1444.49     -0.000872

[1649 rows x 3 columns]

In [50]:
# Drop nulls
sp500_closing_price.dropna(inplace=True)
sp500_closing_price.isnull().sum()

Date            0
Close           0
daily_return    0
dtype: int64

In [51]:
# Rename `Close` Column to be specific to this portfolio.
sp500_closing_price.rename(columns={'Close':'SP500 Close'},inplace=True)
sp500_closing_price.head()

        Date  SP500 Close  daily_return
1  22-Apr-19      2907.97     -0.008764
2  18-Apr-19      2905.03     -0.001011
3  17-Apr-19      2900.45     -0.001577
4  16-Apr-19      2907.06      0.002279
5  15-Apr-19      2905.58     -0.000509

## Combine Whale, Algorithmic, and S&P 500 Returns

In [60]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
all_returns = pd.concat([whale_returns,algo_returns],axis='columns',join='inner')
all_returns = pd.concat([all_returns,sp500_closing_price],axis='columns',join='inner')
all_returns.head(20)

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Date,Algo 1,Algo 2,Date,SP500 Close,daily_return
6,2015-03-10,-0.010263,-0.005341,-0.012079,-0.009739,2014-06-05,0.004062,0.013285,12-Apr-19,2907.41,0.000630
7,2015-03-11,0.004012,0.005163,0.003312,-0.001147,2014-06-06,0.001857,0.008284,11-Apr-19,2888.32,-0.006566
8,2015-03-12,0.008265,0.010272,0.013117,0.010801,2014-06-09,-0.005012,0.005668,10-Apr-19,2888.21,-0.000038
9,2015-03-13,-0.002497,-0.001428,-0.003697,-0.008142,2014-06-10,0.004406,-0.000735,9-Apr-19,2878.20,-0.003466
10,2015-03-16,0.007901,0.003583,0.007953,0.008055,2014-06-11,0.004760,-0.003761,8-Apr-19,2895.77,0.006105
11,2015-03-17,0.002142,0.002928,-0.000687,0.000384,2014-06-12,-0.000028,-0.003841,5-Apr-19,2892.74,-0.001046
12,2015-03-18,0.009603,0.007513,0.009557,0.007854,2014-06-13,0.001917,-0.000814,4-Apr-19,2879.39,-0.004615
13,2015-03-19,-0.000778,-0.002554,-0.002925,0.002363,2014-06-16,0.001084,0.001831,3-Apr-19,2873.40,-0.002080
14,2015-03-20,0.009657,0.000983,0.007391,0.007105,2014-06-17,0.000922,0.006870,2-Apr-19,2867.24,-0.002144
15,2015-03-23,-0.000067,-0.000513,-0.000109,0.000591,2014-06-18,-0.006303,0.007228,1-Apr-19,2867.19,-0.000017
16,2015-03-24,-0.002571,-0.004808,-0.003321,-0.001013,2014-06-19,-0.000853,0.003989,29-Mar-19,2834.40,-0.011436
17,2015-03-25,-0.006156,-0.008018,-0.011172,-0.014567,2014-06-20,0.006398,0.003928,28-Mar-19,2815.44,-0.006689
18,2015-03-26,-0.002098,-0.000593,-0.001035,-0.001212,2014-06-23,-0.004532,-0.000615,27-Mar-19,2805.37,-0.003577
19,2015-03-27,-0.000075,0.002088,0.002190,0.004776,2014-06-24,0.011861,-0.009389,26-Mar-19,2818.46,0.004666
20,2015-03-30,0.008113,0.002220,0.008617,0.005228,2014-06-25,-0.001321,0.006322,25-Mar-19,2798.36,-0.007132
21,2015-03-31,-0.005445,-0.003021,-0.003968,0.001858,2014-06-26,-0.000213,-0.000334,22-Mar-19,2800.71,0.000840
22,2015-04-01,0.000919,0.000157,-0.002002,-0.003865,2014-06-27,0.007136,0.004595,21-Mar-19,2854.88,0.019342
23,2015-04-02,0.002561,0.004299,0.003058,0.001966,2014-06-30,-0.001584,0.005242,20-Mar-19,2824.23,-0.010736
24,2015-04-06,0.005368,0.003763,0.004631,0.004920,2014-07-01,0.001817,0.007710,19-Mar-19,2832.57,0.002953
25,2015-04-07,-0.001243,-0.000171,-0.002060,0.001882,2014-07-02,0.003300,-0.002834,18-Mar-19,2832.94,0.000131

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [62]:
# Plot daily returns of all portfolios
all_returns

TypeError: unsupported operand type(s) for /: 'str' and 'str'

#### Calculate and Plot cumulative returns.

In [16]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [17]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [18]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [19]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [20]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for the S&P 500 using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [21]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [22]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [23]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [24]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [25]:
# Annualized Sharpe Ratios

In [26]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P 500 index.

* `GOOG` - [Google, LLC](https://en.wikipedia.org/wiki/Google)

* `AAPL` - [Apple Inc.](https://en.wikipedia.org/wiki/Apple_Inc.)

* `COST` - [Costco Wholesale Corporation](https://en.wikipedia.org/wiki/Costco)

In [27]:
# Reading data from 1st stock

In [28]:
# Reading data from 2nd stock

In [29]:
# Reading data from 3rd stock

In [30]:
# Combine all stocks in a single DataFrame

In [31]:
# Reset Date index

In [32]:
# Reorganize portfolio data by having a column per symbol

In [33]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [34]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [35]:
# Join your returns DataFrame to the original returns DataFrame

In [36]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [37]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [38]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [39]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [40]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [41]:
# Calculate Annualzied Sharpe Ratios

In [42]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!